.authPage {
    position: absolute;
    top: 0;
    padding: 50px var(--paddingM);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 100vw;
    min-height: 100vh;
    z-index: 1500;
    background-position: center;
    background-size: cover;

    svg {
        scale: 2;
        filter: drop-shadow(0px 0px 25px #000000);
        fill: var(--white);
        cursor: var(--pointerCursor);

        path {
            cursor: var(--pointerCursor);
        }

        @media (hover: hover) {
            &:hover {

                fill: var(--redBright);


            }
        }
    }


}

.authContainer {
    background-color: var(--background);
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 24px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 24px 1px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    opacity: .9;

    p {
        text-align: center;

        a,
        span {
            color: var(--white);
            cursor: var(--pointerCursor);

            @media (hover: hover) {
                &:hover {
                    text-decoration: underline;
                }
            }
        }


    }

    .error {
        font-size: var(--textM);
        line-height: calc(var(--textM) * 1.5);
        font-weight: 600;
        color: red;
    }

    .success {
        color: green;
    }

    p:last-of-type {
        color: #ffffff60;
    }

    p.separator {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: var(--textM);
        font-weight: 200;

        &::before,
        &::after {
            content: '';
            flex: 1;
            border-bottom: 1px solid #ffffff60;
        }

        &:not(empty)::before {
            margin-right: 1rem;
        }

        &:not(empty)::after {
            margin-left: 1rem;
        }
    }
}

.authForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}