.reviewHeader {
    width: 100%;
    max-width: 1920px;
    margin-top: -2rem;

    &:hover {}

    // @media (hover: hover) {

    //     .image0:hover,
    //     .image1:hover,
    //     .image2:hover,
    //     .image3:hover {
    //         cursor: url('/cursors/pointer.cur'), auto;
    //         position: relative;
    //         z-index: 10;
    //         -webkit-box-shadow: 0px 0px 21px 1px #000000;
    //         box-shadow: 0px 0px 21px 1px #000000;
    //         transform: scale(1.1);
    //         transition: all .1s ease-in-out;
    //     }

    // }

    @media (max-width: 768px) {
        padding: 0 var(--paddingM);
        margin-top: 0;

        .image0 {
            border-radius: var(--radiusM) 0 0 0;

        }

        .image1 {
            border-radius: 0 var(--radiusM) 0 0;
        }

        .image2 {
            border-radius: 0 0 0 var(--radiusM);

        }

        .image3 {
            border-radius: 0 0 var(--radiusM) 0;
        }
    }
}

.reviewHeaderContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    transition: .1s;
    border-radius: var(radiusM);

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        max-width: 425px;
    }
}

.quadImageContainer {
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}