.postCardContainer {
    flex-basis: 20%;
    position: relative;
    padding: var(--paddingM);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    @media(max-width: 1024px) {
        flex-basis: 33.33%;
    }

    @media(max-width: 768px) {
        flex-basis: 50%;
    }

    @media(max-width: 425px) {
        flex-basis: 100%;
    }
}

.postCardDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}


// POST DESCRIPTION STYLES
.previewDetails {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;

    .titleAndRating {
        display: flex;
        flex-direction: column;
        gap: 25px;

    }
}

.postTitle {
    display: inline-block;
    width: fit-content;
    font-size: var(--textL);
    line-height: calc(var(--textL) * 1.5);
    transition: .1s;
    cursor: var(--pointerCursor);

    @media (hover: hover) {
        &:hover {
            color: var(--red);
        }
    }

    span {
        font-size: inherit;
        line-height: inherit;
        color: var(--white50);
        cursor: inherit;
    }

    @media (max-width: 425px) {
        font-size: var(--textXXL);
        line-height: calc(var(--textXXL) * 1.5);
    }

    @media (max-width: 320px) {
        font-size: var(--textXL);
        line-height: calc(var(--textXL) * 1.5);
    }
}

.postSubTitle {
    font-size: var(--textS);
    line-height: calc(var(--textS) * 1.5);
    color: var(--white80);

    span {
        color: var(--white50);
        font-size: inherit;
        line-height: inherit;
    }
}

.postDate {
    font-size: var(--textS);
    line-height: calc(var(--textS) * 1.5);
    color: var(--white50);
    position: absolute;
    top: 8px;
    right: 0;
}

// POST IMAGE STYLES

.previewImage {
    height: 100%;
    width: 100%;
    position: relative;
    aspect-ratio: 20800 / 30513;
    overflow: hidden;
    border-radius: var(--radiusM);
    background-color: var(--white02);

    @media (max-width: 1024px) {
        font-size: var(--textXL);
        line-height: calc(var(--textXL) * 1.5);
    }
    

    @media (hover: hover) {
        &:hover {
            -webkit-box-shadow: 0px 0px 21px 1px #000000;
            box-shadow: 0px 0px 21px 1px #000000;
        }
    }

    &.top25 {
        -webkit-box-shadow: 0px 0px 21px 1px #000000;
        box-shadow: 0px 0px 21px 1px #000000;
        stroke: #0a0a0a;
        stroke-width: 4px;

        .singleMovieImage {
            border-radius: calc(var(--radiusM) + 10px);
        }
    }

    .singleMovieImage {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: var(--radiusM);
        cursor: var(--pointerCursor);
    }

}

.quadImageContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    aspect-ratio: 20800 / 30513;
    overflow: hidden;
    border-radius: var(--radiusM);
    background-color: var(--white02);

    @media (hover: hover) {
        &:hover {
            -webkit-box-shadow: 0px 0px 21px 1px #000000;
            box-shadow: 0px 0px 21px 1px #000000;
        }
    }
}

.quadImage {
    width: 50%;
    height: 50%;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        cursor: var(--pointerCursor);
    }

    .image01 {

        border-radius: var(--radiusM) 0 0 0;

    }

    .image02 {

        border-radius: 0 var(--radiusM) 0 0;

    }

    .image03 {

        border-radius: 0 0 0 var(--radiusM);

    }

    .image04 {
        border-radius: 0 0 var(--radiusM) 0;
    }
}

.previewDetails {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
    width: 100%;

    .titleAndRating {
        display: flex;
        flex-direction: column;
        gap: 25px;

    }
}

.commentsAndLikesWrap {
    padding: 5px;
    display: flex;
    gap: 10px;

}

.commentIconContainer {
    display: flex;
    align-items: flex-end;
    gap: 5px;

    p {
        color: var(--white80);
    }

    svg {
        fill: var(--white50);
    }
}

.likeIconContainer {
    svg {
        height: 20px;
        width: 20px;
    }

    &.liked {
        svg {
            fill: var(--redBright);
        }
    }
}

.bloodyBorder {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: var(--pointerCursor);
}

.postImageLink {
    width: 100%;
}