// STANDARD BUTTON STYLES
.button {
    width: fit-content;
    font-size: var(--textL);
    line-height: var(--textL);
    background-color: var(--red);
    color: var(--white);
    border-radius: var(--radiusS);
    border: none;
    cursor: pointer;
    padding: 20px;

    span {
        font-weight: 400;
        color: var(--white50);

        @media (max-width: 250px) {
            display: none;
        }
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--redHover);
        }
    }

    &.disabled {
        opacity: .5;
        cursor: default;

        &:hover {
            background-color: var(--red);
        }
    }

    @media (max-width: 425px) {
        width: 100%;
    }
}

.textButton {
    font-size: var(--textM);
    background-color: transparent;
    color: var(--white);
    padding: 0;
    width: unset;

    @media (hover: hover) {
        &:hover {
            background-color: transparent;
            color: var(--red);
        }
    }
}

// END OF STANDARD BUTTON STYLES


// FILTER AND SORT BUTTON STYLES
.filterButton {
    min-height: 31px;
    height: fit-content;
    border: 1px solid var(--white50);
    background-color: transparent;
    color: var(--white50);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: var(--radiusS);
    font-size: var(--textS);

    span {
        display: none;
    }

    @media (hover: hover) {
        &:hover {
            background-color: transparent;
            color: var(--white);
        }
    }

    &.active {
        background-color: var(--red);
        border: 1px solid transparent;
        color: var(--white);
        pointer-events: none;

        span {
            display: inline;
            color: var(--white50);
        }
    }



    @media (max-width: 768px) {
        font-size: var(--textS);
    }
}

.sortButton {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 31px;
    flex-wrap: wrap;
    gap: 5px;

    &.active {
        color: var(--white);
    }

    svg {
        fill: var(--white80);
    }
}

// END OF FILTER AND SORT BUTTON STYLES