// TEXT EDITOR
.styledEditor {
    .rdw-editor-wrapper {
        border: 1px solid var(--white15)
    }

    .error {
        border: 1px solid red;
    }

    .DraftEditor-root * * {
        cursor: var(--inputCursor);
    }

    .rdw-link-decorator-wrapper {
        img {
            cursor: var(--pointerCursor1);
        }
    }

    .rdw-editor-main {
        overflow: auto;
        min-height: 200px;
        padding: 0 20px;

        font-weight: 300;
        cursor: var(--inputCursor);


        span[style*="font-style: italic"] {
            /* Your styles for the selected span element with font-weight: bold */
        }

        span[style*="font-weight: bold"] {
            /* Your styles for the selected span element with font-weight: bold */

        }


        a {
            color: var(--redBright);
            text-decoration: underline;
        }
    }

    .rdw-editor-toolbar {
        border: none;
        border-bottom: 1px solid var(--white15);
        border-top: 1px solid var(--white15);
        padding: 10px 20px 5px 20px;
        position: sticky;
        top: 85px;
        background-color: var(--black80);
        z-index: 80;
    }

    .rdw-image-modal,
    .rdw-link-modal {
        background-color: var(--black90);
        box-shadow: none;
        border: 1px solid var(--white15);
        height: unset;

        label {
            cursor: var(--pointerCursor1);
        }

        input {
            cursor: var(--inputCursor);
        }

        span {
            button {
                cursor: var(--pointerCursor);
            }
        }
    }

    .rdw-image-alignment-options-popup {
        background-color: var(--black90);
        position: absolute;
        left: 45%;
        width: fit-content;

        div {
            color: var(--black);
            font-weight: 800;
        }
    }

    .rdw-image-modal-header {
        display: none;
    }

    .rdw-image-mandatory-sign {
        display: none;
    }

    .rdw-image-modal-url-input {
        width: 100%;
        margin: 0;
    }

    .rdw-image-modal-size {
        display: none;
    }

    .rdw-option-wrapper {
        cursor: var(--pointerCursor);

        img {
            cursor: var(--pointerCursor);
        }
    }

    .rdw-option-disabled {
        cursor: var(--defaultCursor);

        img {
            cursor: var(--defaultCursor);
        }
    }
}