.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 200px;
}

.formSection {
    width: 100%;
    max-width: var(--widthDefault);
    gap: 1rem;
    display: flex;
    flex-wrap: wrap-reverse;
}

// .tabs {

// }

.tabList {
    display: flex;
    text-align: center;
}

.tab {
    cursor: var(--pointerCursor);
    padding: 10px 0;
    border-radius: var(--radiusS) var(--radiusS) 0 0;
    flex: 1;
    color: var(--white25);
    background-color: var(--black);
    margin-top: 1rem;

    &.isActive {
        color: var(--white80);
        background-color: var(--commentsBG);
    }

    &.error {
        color: red;
        animation: breatheColor 1.5s infinite;
        // border: 1px solid red;
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--commentsBG);
        }
    }
    
}

.tabPanel {
    display: none;
    padding: var(--paddingM);
    background-color: var(--commentsBG);
    border-radius: 0 0 var(--radiusM) var(--radiusM);
    margin-bottom: 2rem;

    &.isActive {
        display: block;
    }

    h3 {
        color: var(--white80);
        font-size: var(--textM);

        span {
            font-size: var(--textS);
            color: var(--white50);
        }
    }
}

.formContainer {
    max-width: var(--widthReading);
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 1rem;

    .topWorseContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.categoryContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.styledForm {
    width: var(--widthReading);
}

.textEditorContainer {
    max-width: var(--widthReading);
}

// IMAGE UPLOAD
.file {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.fileLabel {
    border: 1px solid var(--white15);
    border-radius: var(--radiusM);
    cursor: var(--pointerCursor);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 460px;
}

.fileLabel.error {
    border: 1px solid red;
    animation: breatheImageError 1.5s infinite;
}

.formImage {
    cursor: var(--pointerCursor);
    width: 322px;
    height: 460px;
    border-radius: var(--radiusM);

    div .uploadedCoverImage {
        cursor: var(--pointerCursor);
    }

    img {
        width: 100%;
        height: 460px;
        object-fit: cover;
        border-radius: var(--radiusM);
        cursor: inherit;
    }
}

// FORM STYLES
.formContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


// PREVIEW DIALOG STYLES

.previewDialogBox {
    background-color: var(--black);
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 2rem 0;
    -webkit-box-shadow: 0px 0px 21px 1px #000000;
    box-shadow: 0px 0px 21px 1px #000000;
    border: none;
    border-radius: var(--radiusL);

    &::backdrop {
        background-color: var(--black);
        opacity: 1;
    }

    .submitBtnContainer {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        max-width: 700px;
    }
}

.closeIcon {
    position: fixed;
    top: 30px;
    right: 30px;
    fill: var(--white);
    background-color: var(--black);
    border-radius: var(--radiusM);
    cursor: var(--pointerCursor);
    z-index: 20;

    @media (hover: hover) {
        &:hover {
            fill: var(--red);
        }
    }
}

.formDivider {
    height: 1px;
    background-color: var(--white15);
    border: 0;
}


// CHECKBOX STYLES

.checkboxWrapper input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.checkboxWrapper label {
    position: relative;
    padding-left: 2em;
    padding-right: 1em;
    line-height: 2;
    cursor: var(--pointerCursor);
    display: inline-flex;

    &.error {
        color: red;
        animation: breatheColor 1.5s infinite;
    }
}

.checkboxWrapper label:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.3em;
    left: 0;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid #9098A9;
    border-radius: 6px;
    z-index: -1;
}

.checkboxWrapper input[type=checkbox]:checked+label {
    padding-left: 1em;
    color: var(--white);
}

.checkboxWrapper input[type=checkbox]:checked+label:before {
    top: 0;
    width: 100%;
    height: 2em;
    background: var(--red30);
    border-color: var(--red);
}

.checkboxWrapper label,
.checkboxWrapper label::before {
    transition: 0.25s all ease;
}

.tagsContainer {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

}

.tag {
    cursor: var(--pointerCursor);
    background-color: transparent;
    color: var(--white50);
    border: 1px solid var(--white50);
    padding: 3px 6px;
    border-radius: var(--radiusS);

    @media (hover: hover) {
        &:hover {
            color: white;
            border-color: var(--white);
        }
    }

    &.selected {
        color: white;
        background-color: var(--red30);
        border-color: var(--red);
    }
}

@keyframes breatheColor {
    0% {
      color: red;
    }
    50% {
      color: var(--white);
    }
    100% {
      color: red;
    }
  }

  @keyframes breatheImageError {
    0% {
      border-color: red;
    }
    50% {
        border-color: var(--white15);
    }
    100% {
        border-color: red;
    }
  }