:root {
    --gap20: 20px;
    --gap50: 50px;

    --white: #ededed;
    --white80: #edededcc;
    --white50: #ededed80;
    --white25: #ededed40;
    --white15: #ededed26;
    --white05: #ededed0d;
    --white02: #ededed05;

    --black: #141414;
    --black90: #141414E6;
    --black80: #141414CC;
    --black50: #14141480;
    --black25: #14141440;

    --red: #7C2E2E;
    --redBright: #a53132;
    --redHover: #552020;

    --paddingM: 1rem;
    
    --widthDefault: 1200px;

    --radiusS: 5px;
    --radiusM: 10px;
    --radiusL: 20px;

    --textXS: 12px;
    --lineHeightXS: 18px;
    --textS: 14px;
    --lineHeightS: 20px;
    --textM: 16px;
    --lineHeightM: 24px;
    --textL: 20px;
    --lineHeightL: 30px;
    --textXL: 24px;
    --lineHeightXL: 36px;
    --textXXL: 32px;
    --lineHeightXXL: 48px;
    --textXXXL: 48px;
    --lineHeightXXXL: 72px;
    --textHUGE: 60px;
    --lineHeightHUGE: 90px;

    /* Main Title Sizes */
    --textXXXLtitle: 120px;
    --lineHeightXXXLtitle: 180px;
    --textXXLtitle: 100px;
    --lineHeightXXLtitle: 150px;
    --textXLtitle: 80px;
    --lineHeightXLtitle: 120px;
    --textLtitle: 60px;
    --lineHeightLtitle: 90px;
    --textMtitle: 40px;
    --lineHeightMtitle: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: medium none;
        border-spacing: 0;
        font-size: 16px;
}

body {
    background-color: var(--black);
    color: var(--white);

    font-size: var(--textM);
    line-height: var(--lineHeightM);
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 0;
}


/* For Edge and IE */
body::-ms-scrollbar {
    width: 0;
}

a {
    text-decoration: none;
    color: inherit;
}