.tagsPageContainer {
    min-height: 80vh;
    gap: 50px;
}

.tagsList {
    width: 100%;
    max-width: var(--widthDefault);
    padding: 0 var(--paddingM);
    margin: 0 auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tag {
    
    cursor: var(--pointerCursor);
    border: 1px solid var(--red);
    padding: 6px 12px;
    border-radius: var(--radiusS);
    color: white;
    background-color: var(--red30);

    span {
        font-weight: 400;
        color: var(--white50);
        cursor: inherit;
    }

    @media (hover: hover) {
        &:hover {
            color: white;
            border-color: var(--white);
        }
    }
}