.header {
    z-index: 1000;
    position: sticky;
    top: 0;

    display: flex;
    justify-content: center;

    padding: 10px 0;
    margin-bottom: 2rem;

    background-color: var(--black);
    font-weight: 600;

    -webkit-box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.5);


}

.headerWrap {

    width: var(--widthDefault);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap50);

    padding: 0 var(--paddingM);

    .navLogo {
        z-index: 10000;

        svg {
            fill: var(--white);
            transition: all 0.1s ease-in-out;
            cursor: pointer;
        }

        @media (hover: hover) {
            &:hover {
                svg {
                    fill: var(--red);
                }
            }
        }
    }

    .mainNav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navAuth {
            .authButton {
                cursor: pointer;
                padding: 5px 10px;
                margin-left: 8px;
                border: 1px solid var(--white);
                border-radius: var(--radiusS);
                background-color: var(--black);
                color: var(--white);
                transition: all 0.1s ease-in-out;

                @media (hover: hover) {
                    &:hover {
                        background-color: var(--red);
                        color: var(--white);
                        border-radius: var(--radiusL);
                        border: 1px solid var(--red);
                    }
                }
            }
        }

        .navRoutes {
            display: flex;
            flex-direction: row;
            gap: var(--gap50);

            .navLink {
                font-size: var(--textM);
                line-height: calc(var(--textM) * 1.5);
                color: var(--white);
                padding: 5px;
                transition: all 0.1s ease-in-out;

                &.active {
                    color: var(--red);
                    border-bottom: 1px solid var(--red);
                }

                @media (hover: hover) {
                    &:hover {
                        color: var(--red);
                    }
                }
            }
        }



        @media (max-width: 1024px) {
            background-color: var(--black);
            position: fixed;
            top: 0;
            right: -100vw;
            gap: var(--gap50);
            flex-direction: column;
            justify-content: start;
            align-items: unset;
            padding-top: 120px;
            padding-right: calc(var(--paddingM) + 10px);
            transition: ease-in-out .2s;
            text-align: right;
            opacity: .9;
            width: calc(100% + 1px);
            height: 100vh;

            .navRoutes {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: var(--gap20);
            }

            &.isOpen {
                right: 0;
            }
        }
    }

    .menuIcon {
        z-index: 10000;
        display: none;
        margin-left: auto;

        svg {
            fill: var(--white);
            transition: all 0.1s ease-in-out;
            cursor: pointer;
        }

        @media (max-width: 1024px) {
            display: block;
        }
    }
}