.footerContainer {
    background-color: var(--red);
    color: var(--black);
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.footerWrap {
    padding: var(--paddingXL);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--widthDefault);
    gap: 2rem;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.footerLogoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    gap: 8px;
    max-width: 210px;
    width: 100%;

    h5 {
        font-size: var(--textS);
        line-height: calc(var(--textS) * 1.5);
        color: var(--white);
        text-align: center;
        font-weight: 400;
    }

    svg {
        fill: var(--white);
        transition: all 0.1s ease-in-out;
        cursor: var(--pointerCursor);
        height: auto;
        width: 100%;

        path {
            cursor: var(--pointerCursor);
        }

        @media (hover: hover) {
            &:hover {
                fill: var(--black);
            }
        }
    }

    @media (max-width: 1024px) {
        max-width: 180px;

        h5 {
            font-size: var(--textXS);
            line-height: calc(var(--textXS) * 1.5);
        }
    }
}

.footerNavContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 750px;
    width: 100%;

    .footerNav {
        display: flex;
        justify-content: space-between;
        padding-bottom: 8px;
        border-bottom: 1px solid var(--white15);
        width: 100%;

        .footerNavLink {
            font-size: var(--textM);
            line-height: calc(var(--textM) * 1.5);
            color: var(--white);
            padding: 5px 10px;
            transition: all 0.1s ease-in-out;
            cursor: var(--pointerCursor);
            text-wrap: nowrap;
            
            @media (hover: hover) {
                &:hover {
                    color: var(--black);
                }
            }
        }
    }

    @media (max-width: 768px) {
        // flex-direction: column;
        
        .footerNav {
            border-top: 1px solid var(--white15);
            padding-top: 8px;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }   
    }

    @media (max-width: 650px) {
        .footerNav {
            .footerNavLink {
                flex-basis: 33%;
                text-align: center;
                padding: 5px 5px;
            }
        }   
    }

    @media (max-width: 425px) {
        .footerNav {
            .footerNavLink {
                flex-basis: 50%;
                text-align: center;
            }
        }   
    }
    @media (max-width: 320px) {
        .footerNav {
            .footerNavLink {
                flex-basis: 100%;
                text-align: center;
            }
        }   
    }
}



.copyright {
    text-align: center;
    font-size: var(--textS);
    line-height: calc(var(--textS) * 1.5);
    color: var(--white80);

    a {
        font-size: inherit;
        color: var(--white);
        text-decoration: underline;
        cursor: var(--pointerCursor);

        @media (hover: hover) {
            &:hover {
                color: var(--black);
            }
        }
    }
}